.Client {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.Données {
  display: flex;
  gap: 3rem;
  margin: auto;
  padding: auto;
  position: relative;
  justify-content: space-around;
  top: 3rem;
  bottom: 2rem;
}
.Donnée {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgb(228, 216, 216);

  padding: 1rem 1rem 2rem 2rem;
  width: 15rem;
  height: 22rem;
  color: black;
  justify-content: center;
  box-shadow: -5px 5px 20px 5px grey;
}

.plusinfos {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  color: blue;
}
.Donnée:hover {
  background-color: cadetblue;
  cursor: pointer;
  transform: translate(0px, -20px);
  opacity: 0.7;
  border-radius: 25px;
}
.Engage2 {
  width: 16rem;
  height: 10rem;
  position: relative;
  right: 1rem;
  top: 1rem;
}
.Engage3 {
  width: 16rem;
  height: 10rem;
  position: relative;
  right: 1rem;
  top: 1.5rem;
}

.Galerie {
  background-color: #fff;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  right: 0.5rem;
}
.Galerie > :nth-child(1) {
  fill: blue;
}
.Galerie > :nth-child(2) {
  font-size: 0.8rem;
  font-weight: bold;
}
.Galerie > :nth-child(3) {
  font-size: 0.7rem;
  line-height: 22px;
  text-indent: 5px;
}
